body {
    font-family: sans-serif;
    margin: 0;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

ul {
    background-color: white;
    padding: 0;
    margin: 0;
}

li {
    text-align: center;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#newItemButton {
    height: 60px;
    width: 95px;
    margin: 0 auto;
}

#showForm {
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FF6D00;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#showForm:active {
    background-color: #F9A825;
}
   
#itemForm {
    height: 60px;
    width: 285px;
    margin: 0 auto;
}

#itemDescription {
    height: 35px;
    width: 200px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px; 
    font-size: 15px;
}

#addButton {
    border: none;
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FF6D00;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#addButton:active {
    background-color: #F9A825;
}

.complete {
    background-color: green;
}

.toDo {
    background-color: orange;
}